*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(#17223b,#6b778d);
font-family: Arial, Helvetica, sans-serif;
color: white;
}

